<div class="search-result panel panel-default">
    <div class="panel-heading">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="panel-title"></h3>
    </div>
    <ul class="list-group">
    </ul>
    <div class="dummy"></div>
</div>