<ul class="list-inline" data-bind="foreach: config.author.social">
	<li><a data-bind="attr: { href: href, title: title }" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top"><i data-bind="attr: { class: 'fa fa-fw ' + icon }"></i></a>
  </li>
</ul>
